{% extends "base.html" %}

{% block content %}

    <h1>Reset password</h1>
    <p id="id_val" hidden="hidden">{{ id }}</p>
    <div class="center_set" style="left: 30%;right: 30%;">
        <br>
        <br>
        <input type="password" onblur='pwd_check()' style="color: black;"  placeholder="Please input password" id = "password">
        <br>
        <input type="password" onblur='pwd_check()' style="color: black;" placeholder="Please re-input password" id = "re_password">
        <p class="em_message"></p>
        <br>
        <button id='next_but' onclick='check_info()' class="unclick_bt" disabled="true" >Next</button>
        <p class="next_message"></p>
        <br>
        <br>
    </div>

    <script src="{{url_for('static', filename='edit_pwd_rel.js')}}"></script>
{% endblock %}