{% extends "base.html" %}

{% block content %}

<h1>Welcomo to Sokoban</h1>

<div  class="left_set">
<p>Use the up, down, left, and right <strong class="red_col">arrow keys</strong> on the keyboard to move the characters and push all the boxes to the position of the small ball to pass. The box can only be pushed forward, not backward, and the character can only push one box at a time.</p>
<br>
<p>Scoring rules: if you pass the n-th level, the integral will be added with N, that is, if you pass the second level, 2 points will be added. We will <strong class="red_col"> save the maximum number of levels </strong>you have passed for you.</p>
<p>
<strong>About me</strong> : We are Xiaokai Qu(22791829) and Charlie Hu(23217014), software developers.
</p>
</div>
{% endblock %}
